#cloud-config
package_update: true
packages:
  - qemu-guest-agent
  - curl
  - apt-transport-https
  - ca-certificates

ssh_authorized_keys:
  - ${public_key_openssh}
  - ${lecturer_key}

write_files:
  - path: /etc/salt/minion.d/master.conf
    permissions: "0644"
    content: |
      master: ${master_fqdn}
  - path: /etc/salt/minion.d/grains.conf
    permissions: "0644"
    content: |
      grains:
        role: ${role}
        env: comp0235

runcmd:
  - [systemctl, enable, --now, qemu-guest-agent.service]
  - [systemctl, enable, --now, systemd-timesyncd]
  - curl -fsSL https://bootstrap.saltproject.io -o /tmp/bootstrap_salt.sh
  - sh /tmp/bootstrap_salt.sh -X
  - apt-get install -y salt-minion
  - systemctl enable --now salt-minion
  - systemctl restart salt-minion

final_message: "salt-minion (${role}) ready."
